h1 {
  text-align: center;
  margin-top: 50px;

  font-size: 2.5rem;
}

img {
  max-width: 100%;
  display: block;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 100px;
  margin-top: 50px;

  div {
    flex-grow: 1;
    flex: 1 1 200px;
    max-width: 300px;
    margin: 10px;
  }
}

.add-new {
  display: flex;
  align-items: center;
  padding: 25px;
  justify-content: center;
}
