<div class="page-header">
  <p>Dragons - List</p>
  <div class="page-header__actions">
    <button (click)="add()"><i class="fa-solid fa-plus"></i> Add</button>
    <button (click)="logout()">
      <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
    </button>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Data de criação</th>
      <th>Nome</th>
      <th>Tipo</th>
      <th colspan="3">Ações</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="dragons">
      <tr *ngIf="dragons.length == 0">
        <td [attr.colspan]="3" class="text-center">
          Nenhum registro encontrado
        </td>
      </tr>
    </ng-container>
    <ng-container *ngFor="let row of dragons | orderBy: 'name'">
      <tr>
        <td>{{ row.createdAt | date: "dd/MM/yyyy HH:mm:ss" }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.type }}</td>
        <td class="table-action">
          <a (click)="view(row.id)">
            <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
          </a>
          <a (click)="edit(row.id)">
            <fa-icon [icon]="faPenToSquare"></fa-icon>
          </a>
          <a (click)="delete(row.id)">
            <fa-icon [icon]="faTrashCan"></fa-icon>
          </a>
        </td>
      </tr>
    </ng-container>

    <tr></tr>
  </tbody>
</table>
