<section>
  <ng-container *ngIf="dragons">
    <h1 *ngIf="dragons.length > 0">
      Confira os dragões que moram em nossa casa
    </h1>
    <div class="container" *ngIf="dragons.length == 0">
      <h1>
        Oh não.. Nenhum dragão encontrado.. <br />
        Gostaria de cadastrar um ?
      </h1>
      <div class="add-new">
        <button class="btn btn-primary" (click)="add()">Novo Dragão</button>
      </div>
    </div>
  </ng-container>
  <div class="flex">
    <ng-container *ngFor="let row of dragons | orderBy: 'name'">
      <div>
        <app-cards
          [data]="row"
          [img]="'../../../../../assets/img/dragao.png'"
          (eventView)="view($event)"
          (eventEdit)="edit($event)"
          (eventDelete)="delete($event)"
        ></app-cards>
      </div>
    </ng-container>
  </div>
</section>
