<div class="container">
  <div class="container__box">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="username">User name</label>
        <input
          type="text"
          formControlName="username"
          autocomplete="username"
          aria-required="true"
          placeholder="User name"
        />
        <div
          *ngIf="submitted && loginForm.controls['username'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="loginForm.controls['username'].errors">
            User name is required
          </div>
        </div>
      </div>
      <div>
        <label for="password">Password</label>
        <input
          type="{{ typeInput }}"
          formControlName="password"
          autocomplete="current-password"
          aria-required="true"
          class="icon"
          placeholder="Password"
        />
        <img
          class="img-input"
          (click)="showPassword()"
          src="../../../../assets/img/icons/close-eyes.svg"
          alt=""
        />
        <div
          *ngIf="submitted && loginForm.controls['password'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="loginForm.controls['password'].errors">
            Password is required
          </div>
        </div>
      </div>
      <div *ngIf="showInvalidCredentials">
        <p>{{ errorMessage }}</p>
      </div>
      <div>
        <button type="submit">Join</button>
      </div>
    </form>
  </div>
</div>
