<div class="login">
  <div class="login__left-side"></div>

  <div class="login__right-side">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="username">Matricula</label>
        <input type="text" formControlName="username" />
        <div
          *ngIf="submitted && loginForm.controls['username'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="loginForm.controls['username'].errors">
            User name is required
          </div>
        </div>
      </div>
      <div>
        <label for="password">Senha</label>
        <input type="{{ typeInput }}" formControlName="password" />
        <img
          class="img-input"
          (click)="showPassword()"
          src="../../../../assets/img/icons/close-eyes.svg"
          alt=""
        />
        <div
          *ngIf="submitted && loginForm.controls['password'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="loginForm.controls['password'].errors">
            Password is required
          </div>
        </div>
      </div>
      <div *ngIf="showInvalidCredentials">
        <p>{{ errorMessage }}</p>
      </div>
      <div>
        <button>Acessar</button>
      </div>
    </form>
  </div>
</div>
