<div class="login">
  <div class="box">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <span class="title"> Bem Vindo </span>
      <span class="title">
        <img src="../../../../favicon.ico" alt="" />
      </span>
      <div>
        <label for="username"> Usuário</label>
        <input
          type="text"
          formControlName="username"
          autocomplete="username"
          aria-required="true"
          placeholder="Usuário"
        />
        <div
          *ngIf="submitted && loginForm.controls['username'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="loginForm.controls['username'].errors">
            Usuário é obrigatório
          </div>
        </div>
      </div>
      <div>
        <label for="password">Senha</label>
        <input
          type="{{ typeInput }}"
          formControlName="password"
          autocomplete="current-password"
          aria-required="true"
          class="icon"
          placeholder="Senha"
        />
        <img
          class="img-input"
          (click)="showPassword()"
          src="../../../../assets/img/icons/close-eyes.svg"
          alt=""
        />
        <div
          *ngIf="submitted && loginForm.controls['password'].errors"
          class="invalid-feedback"
        >
          <div *ngIf="loginForm.controls['password'].errors">
            Senha é obirgatória
          </div>
        </div>
      </div>
      <div *ngIf="showInvalidCredentials">
        <div class="invalid-feedback">{{ errorMessage }}</div>
      </div>

      <div class="page__box__buttons">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>
