<div class="container">
  <main class="page">
    <div class="page__title">
      <p>Não encontrou o dragão que você queria?</p>
      <p>
        Gostaria de ter seu proprio dragão com suas características especiais
        pensadas exatamente por você e para você?
      </p>
      <p>
        Faça o seu cadastro e encontre seu dragão perfeito na tela principal :)
      </p>
    </div>

    <div class="page__box">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
          <label for="name">Nome:</label>
          <input
            id="name"
            type="text"
            formControlName="name"
            aria-required="true"
            tabindex="0"
            [ngClass]="{
              'input-invalid-feedback':
                submitted && form.controls['name'].errors
            }"
          />

          <div
            *ngIf="submitted && form.controls['name'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="form.controls['name'].hasError('required')">
              Nome é obrigatório
            </div>
            <div *ngIf="form.controls['name'].hasError('maxlength')">
              Máximo de 50 caracteres
            </div>
          </div>
        </div>
        <div>
          <label for="type">Tipo:</label>
          <input
            type="text"
            formControlName="type"
            aria-required="true"
            [ngClass]="{
              'input-invalid-feedback':
                submitted && form.controls['type'].errors
            }"
          />

          <div
            *ngIf="submitted && form.controls['type'].errors"
            class="invalid-feedback"
          >
            <div *ngIf="form.controls['type'].hasError('required')">
              Tipo é obrigatório
            </div>

            <div *ngIf="form.controls['type'].hasError('maxlength')">
              Máximo de 50 caracteres
            </div>
          </div>
        </div>

        <div class="page__box__buttons">
          <button
            type="button"
            (click)="onCancel()"
            class="btn btn-outline-dark btn-mr"
          >
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </div>
      </form>
    </div>
  </main>
</div>
