h1 {
  padding: 20px 10px;
}

ul {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  border-radius: 0;

  li {
    position: relative;
    display: block;
    padding: 1.5rem 1rem;
    text-decoration: none;
    background-color: var(--color-gray-one);
    border: 1px solid rgba(0, 0, 0, 0.125);
  }
}
