<div class="container">
  <main class="page">
    <div class="page__title">
      <p>Aqui está seu dragão!!</p>
    </div>

    <div class="page__box">
      <div>
        <label for="id">Id:</label>
        <input type="text" value="{{ dragon.id }}" [attr.disabled]="true" />
      </div>
      <div>
        <label for="name">Nome:</label>
        <input type="text" value="{{ dragon.name }}" [attr.disabled]="true" />
      </div>
      <div>
        <label for="type">Tipo:</label>
        <input type="text" value="{{ dragon.type }}" [attr.disabled]="true" />
      </div>

      <div>
        <label for="type">Data de criação:</label>
        <input
          type="text"
          [ngModel]="dragon.createdAt | date: 'dd/MM/yyyy hh:mm:ss'"
          [attr.disabled]="true"
        />
      </div>

      <div class="page__box__buttons">
        <button
          type="button"
          (click)="onCancel()"
          class="btn btn-outline-dark btn-mr"
        >
          Voltar
        </button>
      </div>
    </div>
  </main>
</div>
