<div class="card shadow-sm">
  <img src="{{ img }}" alt="" />

  <div class="card__body">
    <p class="card-text">{{ cardText }}</p>
    <div class="card__body__actions">
      <div class="btn-group">
        <button type="button" class="btn btn-primary" title="Ver">Ver</button>
        <button type="button" class="btn btn-primary" title="Editar">
          Editar
        </button>
      </div>
      <small class="text-muted">{{ type }}</small>

      <div class="btn-group">
        <button type="button" class="btn btn-danger" title="Remover">
          Remover
        </button>
      </div>
    </div>
  </div>
</div>
