// /* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,200&display=swap");
@import "~sass/variables";
@import "assets/css/reset.css";
@import "~sass/scrollbar";
@import "~sass/buttons";
@import "~sass/tooltip";
@import "~sass/container";
@import "~sass/grid";

body {
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-regular);
}

input[type="text"],
input[type="password"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--color-gray-three);
  border-radius: var(--border-radius-md);
  box-sizing: border-box;
}

.btn-mr {
  margin-right: 0.5rem !important;
}

.invalid-feedback {
  color: var(--color-error);
  font-size: var(--font-size-xxs);
  margin-bottom: 15px;
}

.input-invalid-feedback {
  border-color: var(--color-error) !important;
}

.text-center {
  text-align: center;
}

.page {
  margin-bottom: 80px;
  &__title {
    text-align: center;
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;

    p {
      font-size: 1.25rem;
      font-weight: var(--font-weight-light);
    }
  }
  &__box {
    margin: 15px;
    &__buttons {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
}
